<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sushant Yadav | Portfolio</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <!-- my custom Css -->
  <link rel="stylesheet" href="{% static 'portfolio/style.css' %}">
  <link rel="stylesheet" href="{% static 'portfolio/loading.css' %}">


  <!-- google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Monoton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:500&display=swap" rel="stylesheet">

  <!-- custom icons -->
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="visible-hidden loading">

  <div id="loading-body" class="container">
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
  </div>

  <div id="content-body" class="container-fluid">

    <nav class="navbar navbar-expand-lg fixed-top ">
    <a class="navbar-brand" id="logo" href="#">SY</a>
    </nav>

    <div class="container-fluid " id="first">
      <div id="dialog-container" class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-sm-12"></div>
        <div class="col-lg-2 col-md-2 col-sm-10"><div id="myPic-box" class="visible-hidden"></div></div>
        <div class="col-lg-6 col-md-8 col-sm-10 col-10"><div id="dialog-box" class="visible-hidden"><p id="dialog-text"></p></div></div>
        <div class="col-lg-2"></div>
      </div>
      </div>

    </div>

    <div class="container " id="second">

      <div class="container text-center">
        <h2>My Work</h2>
      </div>

      <div class="container-fluid ">
        <div class="row ">

          <div class="col-lg-6 col-6 text-center nav-arrow">
            <a onclick="toggleDisplay()"><i id="left-icon" class='fas fa-arrow-circle-left'></i></a>
          </div>
          <!-- <div class="col-lg-4 col-sm-0"></div> -->
          <div class="col-lg-6 col-6 text-center nav-arrow">
            <a onclick="toggleDisplay()"><i id="right-icon" class='fas fa-arrow-circle-right'></i></a>
          </div>
          <div class="col-lg-3 col-sm-0"></div>
          <br>
          <div class="col-lg-6 col-sm-12 text-center">

              <img id="social" class="workImage" src="{% static 'portfolio/starSocial.png' %}" alt="Blog Clone" onclick="starSocial()">
              <img id="blog" class="workImage display-none" src="{% static 'portfolio/blogClone.png' %}" alt="Blog Clone" onclick="blogSite()">


          </div>
          <div class="col-lg-12 text-center">
            <p id="socialTitle" class="workTitle">Star Social ( social website clone )</p>
            <p id="blogTitle" class="workTitle display-none">Blogging Website Clone</p>
          </div>

        </div>
      </div>


    </div>

    <div class="container-fluid " id="third">
      <div class="container text-center ">
        <h2>Contact</h2>
      </div>

      <div class="row text-center">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-md-12">
          <div class="contact ">
            <p id="myName">Sushant Yadav</p>
            <p id="profession">Senior Software Developer</p>
            <p>
              <ul type='none'>
                <li><i class="fa fa-phone" style="font-size:24px"></i> <a href="tel:+918700206584">+918700206583</a> </li>
                <li><i class="material-icons">email</i> <a href="mailto:sushantyadav0611@gamil.com">sushantyadav0611@gmail.com</a> </li>
                <li><i class="material-icons">location_on</i> <a href="https://www.google.com/maps/@28.6829741,77.1408517,16z">New Delhi, Delhi, India</a> </li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>

    </div>

  </div>


</body>

<script type="text/javascript">

  var profilePic=new Image();
  var profilePicLoaded = false;
  profilePic.onload = () => profilePicLoaded=true;
  var bgImg=new Image();
  var bgImgLoaded = false;
  bgImg.onload = () => bgImgLoaded=true;
  profilePic.src = "{% static 'portfolio/myPic.jpg' %}";
  bgImg.src = "{% static 'portfolio/starry_sky_stars_night.jpg' %}";

  var itImg = document.querySelector('#ITcomponents')

  var dialog = document.querySelector('#dialog-text')

  var msg = 0
  var string = ''
  var ti = null

  function reverse(){
    if(dialog.textContent.length != 0){
      dialog.textContent = dialog.textContent.slice(0, dialog.textContent.length-1);
    }
    else{
      clearTimeout(ti);
      setMsg();
    }
  }

  function write(){
    if(string.length != 0){
      dialog.textContent += string[0]
      string = string.slice(1,string.length)
    }
    else{
      clearTimeout(ti);
      setTimeout(()=>{
        ti = setInterval(reverse, 30);
      }, 600)
    }
  }

  function setMsg(){
    dialog.textContent = ''
    msg += 1
    switch (msg) {
      case 1:
        string = 'Hey There!';
        break;
      case 2:
        string = 'My name is';
        break;
      case 3:
        string = 'Sushant Yadav.';
        break;
      case 4:
        string = "I'm a";
        break;
      case 5:
        string = 'Software Developer.';
        break;
    }
    ti = setInterval(write, 80);
  }

  document.querySelector('body').onload = function(){

    body = document.querySelector('body')
    body.classList.toggle('visible-hidden')

    contentBody = document.querySelector('#content-body')
    loadingBody = document.querySelector('#loading-body')
    ti = setInterval(()=>{
      if(profilePicLoaded && bgImgLoaded){
        body.classList.toggle('loading');
        loadingBody.style.display='none';
        contentBody.style.display='block';
        clearInterval(ti);
      }
    }, 500);

    dialogBox = document.querySelector('#dialog-box')
    dialogBox.addEventListener("animationend", setMsg);

    myPic = document.querySelector('#myPic-box')
    myPic.classList.toggle('myPic-animate')
    myPic.classList.toggle('visible-hidden')
    myPic.addEventListener("animationend", ()=>{
      dialogBox.classList.toggle('visible-hidden');
      dialogBox.classList.toggle('dialog-animate');
    });

  }

  function blogSite(){
    window.location.href = "{% url 'blog:blogIndexPage' %}"
  }

  function starSocial(){
    window.location.href = "{% url 'starSocialIndexPage' %}"
  }

  function toggleDisplay(){
    document.querySelector('#blog').classList.toggle('display-none')
    document.querySelector('#blogTitle').classList.toggle('display-none')
    document.querySelector('#social').classList.toggle('display-none')
    document.querySelector('#socialTitle').classList.toggle('display-none')
  }


</script>

</html>
