<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!-- mediumEditor cdn -->
  <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">

</head>
<body>
  <div ><textarea name="" id="" cols="30" rows="10"></textarea></div>

  <script>
        document.querySelector('textarea').classList.add('editable')

        var editor = new MediumEditor('.editable', {
            buttonLabels: 'fontawesome'
        });
    </script>
</body>
</html>
